/**
 * Typography
 */

body {
    font-family: $body_font;
    color: $body_font_color;
    //font-weight: $font_weight_regular;
    line-height: $body_line_height;
    background-color: $background_color;
    font-size: $body_font_size;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading_font;
    font-weight: $font_weight_bold;
    line-height: $heading_line_height;
}

h1 {
    font-size: $heading_font_size + 10;
    text-transform: uppercase;
    font-weight: 800;
}

h2 {
    font-size: $heading_font_size + 6;
    text-transform: uppercase;
    font-weight: 700;
}

h3 {
    font-size: $heading_font_size + 2;
}

h4 {
    font-size: $heading_font_size;
}

h5 {
    font-size: $heading_font_size - 2;
}

h6 {
    font-size: $heading_font_size - 4;
}

p {
    line-height: $paragraph_line_height;
    //font-size: $body_font_size;
}

small {
    font-size: $small_font_size;
}

a {
    color: $main_color;
    text-decoration: none;
    
    &:link, &:visited {
        color: $main_color;
        text-decoration: none;
    }
    
    &:hover, &:active {
        color: darken( $main_color, 10% );
        text-decoration: underline;
    }
}

