/**
 * WooCommerce Styles
 */

body,
body.woocommerce,
.woocommerce {

    .woocommerce-error, .woocommerce-info, .woocommerce-message {
        padding: 15px 15px 15px 60px;
        margin: 0;
        background-color: #e3e3e3;
        color: #444;
        border-top: none;

        &:before {
            left: 25px;
            top: 15px;
        }
    }

    .woocommerce-info {
        &:before {
            color: $link_hover_color;
        }
    }

    .woocommerce-message {
        &:before {
            color: $link_hover_color;
        }
    }

    // Categories
    .elementor-widget-wc-categories {

        ul.products {

            li.product-category {

                a {
                    display:block;
                    height: 100%;

                    &:hover {
                        //filter: invert(1);
                        //background-color: #fff;
                        background-color: #eee;
                        background-color: rgba(0,0,0,0.1);
                    }

                    .woocommerce-loop-category__title {
                        padding: 10px 20px 20px 20px;
                    }
                }
            }
        }
    }

    .elementor-widget-woocommerce-archive-products {

        &.grid-list-toggle-enabled {

            .gridlist-toggle {
                float: left;
                clear: none;

                a {
                    background: #fff;
                    color: #444;
                    border: 5px solid #fff;
                    margin-left: 15px;

                    &:link, &:visited {
                        color: #444;
                    }

                    &:hover, &:active {
                        color: #000;
                        background: $main_color;
                        border-color: $main_color;
                    }

                    &.active {
                        background: #ccc;
                        border-color: $main_color;
                    }

                    .dashicons {
                        font-size: 20px;
                    }
                }
            }

            ul.products {

                &.grid {
                    display: grid;
                }

                &.list {
                    display: block;

                    li.product {
                        //width: 100% !important;
                        margin: 40px 0;
                    }
                }
            }
        }

        .woocommerce-ordering ,
        .gridlist-toggle {
            padding: 15px 0 25px 0;
        }

        .woocommerce-ordering {
            float: right;

            select {
                background-color: #fff;
            }
        }
    }

    // Basket
    &.woocommerce-cart {

        table.shop_table {
            border: none;
            border-radius: 0;
            background: none;
            box-shadow: none;
            outline: none;
            font-weight: 300;
            font-family: $body_font;

            tr, td, th,
            tr td,
            tr th,
            thead,
            tbody,
            thead tr,
            tbody tr,
            thead tr th,
            tbody tr td {
                border: none;
                background: none;
                box-shadow: none;
                outline: none;

                &:hover {
                    background: none;
                }
            }


            tr {
                td, th {
                    padding: 25px;

                    &.actions {
                        padding: 30px 0;

                        .coupon {

                            input.input-text {
                                color: #666;
                                padding: 15px;
                                font-family: $body_font;
                                font-weight: 300;
                                font-size: 18px;
                                //text-transform: uppercase;
                                border-radius: 0;
                                border: none;
                                background: #ddd;
                                width: 200px;
                                max-height: 48px;
                                margin: 0;

                                &:focus {
                                    background: #e6e6e6;
                                }
                            }
                        }
                    }
                }
            }

            thead {
                tr th {
                    background: #fff;
                    //font-family: $heading_font;
                    font-weight: 400;
                    font-size: 20px;
                    letter-spacing: 1;
                    text-transform: uppercase;

                    &:hover {
                        background: #fff;
                    }
                }
            }

            tbody {

                tr.cart_item {

                    &:nth-child(odd) {

                        td {
                            background: #eee;
                        }

                        &:hover {
                            td {
                                background: #eee;
                            }
                        }
                    }

                    &:nth-child(even) {

                        td {
                            background: #fff;
                        }

                        &:hover {
                            td {
                                background: #fff;
                            }
                        }
                    }

                    img {
                        width: 75px;
                        max-width: 175px;
                    }

                    .quantity {
                        input.qty {
                            border: none;
                            border-radius: 0;
                            background: #d3d3d3;
                            width: 85px;
                            padding: 15px;

                            &:focus {
                                background: #e3e3e3;
                            }
                        }
                    }
                }
            }
        }

        .cart-collaterals .cart_totals {

            h2 {
                text-transform: uppercase;
                font-size: 26px;
            }

            tr th,
            tr td {
                border: none;
            }

            tr td {
                background: #eee;

                &:hover {
                    background: #eee;
                }

                .woocommerce-shipping-methods,
                ul#shipping_method {
                    .amount {
                        font-weight: 300;
                    }
                }
            }

            tr th {
                background: #fff;
                font-weight: 400;
                text-transform: uppercase;

                &:hover {
                    background: #fff;
                }
            }
        }

        .wc-proceed-to-checkout {

            a.button.alt {
                padding: 30px 40px;
                font-size: 24px;
            }
        }

        // Address - Calculate Shipping Form
        form.woocommerce-shipping-calculator {
            input[type="text"],
            input[type="email"],
            input[type="tel"],
            input[type="password"],
            select,
            textarea {
                background: #ddd;

                &:focus {
                    background: #e3e3e3;
                }
            }
        }

        a.checkout-button,
        a.button.alt {
            background: $main_color;
            color: #fff;
            box-shadow: 0 3px 3px rgba(0,0,0,0.2);

            &:hover {
                background: lighten( $main_color, 5% );
                color: #000;
            }
        }
    }

    // Checkout
    &.woocommerce-checkout {

        .woocommerce-form-login-toggle,
        .woocommerce-form-coupon-toggle {
            margin-bottom: 20px;
        }

        form.checkout_coupon {

            @media (max-width: 600px) {

                .form-row-first,
                .form-row-last {
                    display: block;
                    width: 100%;
                    float: none;
                }
            }
        }

        /**
         * Checkout - Coupied from Storefront Theme
         * Requires Susy v2 for mixins (See package.json and gulpfile.js)
         */
        #ship-to-different-address {
            position: relative;

            label {
                font-weight: 300;
            }

            .woocommerce-form__input-checkbox {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                margin-right: 0;
            }
        }

        .col2-set {
            @include span(5 of 9);
            padding-right: 40px;

            @media (max-width: 1000px) {
                float: none;
                width: 100%;
                margin-right: 0;
                padding-right: 0;
                margin-bottom: 50px;
            }

            .form-row-first {
                @include span(2 of 5);
            }

            .form-row-last {
                @include span(last 3 of 5);
            }

            .col-1,
            .col-2 {
                margin-bottom: ms(3);
                width: 100%;
                display: block;
                float: none;
                padding: 0;
            }

            & + #customer_details {
                display: none;
            }

            .woocommerce-billing-fields {
                @include clearfix;
            }

            /*
            &.addresses {
                @include span(full);

                .col-1 {
                    @include span(4.5 of 9);
                }

                .col-2 {
                    @include span(last 4.5 of 9);
                }
            }
            */
        }

        #customer_details + #wc_checkout_add_ons {
            @include span( last 4 of 9 );
        }

        #wc_checkout_add_ons {
            input[type=radio] {
                float: left;
                margin-right: ms(-3);
                clear: left;
                margin-top: 0.35em;
            }
        }

        #order_review_heading,
        #order_review {
            @include span(last 4 of 9);
            clear: right;

            @media (max-width: 1000px) {
                float: none;
                width: 100%;
            }
        }

        #order_review {
            transition: box-shadow ease 0.4s;
        }

        #order_review_heading {
            margin-bottom: 0;
            padding-bottom: ms(-2);

            @media (max-width: 1000px) {
                float: none;
                width: 100%;
            }
        }

        /**
         * Custom additions
         */
        form.checkout {
            margin-top: 50px;

        }

        h3 {
            text-transform: uppercase;
            font-size: 22px;
        }

        .woocommerce-billing-fields {

            h3 {
                text-transform: uppercase;
                margin-bottom: 0;
                padding: 30px 30px 0 30px;
                background: #fff;
            }

            .woocommerce-billing-fields__field-wrapper {
                margin-top: 0;
                padding: 30px;
                background: #fff;
            }

            @media (max-width: 600px) {

                .form-row-first,
                .form-row-last {
                    display: block;
                    width: 100%;
                    float: none;
                }
            }
        }

        .woocommerce-account-fields {
            margin-top: 0;
            padding: 20px 30px;
            background: #fff;
        }

        .woocommerce-shipping-fields {
            margin-top: 0;
            padding: 20px 30px;
            background: #fff;

            #ship-to-different-address {
                font-size: 18px;
                line-height: 1.5;
                font-weight: 300;
                font-family: $body_font;
                text-transform: none;
                letter-spacing: normal;

                label {
                    margin: 0;
                }

                .woocommerce-form__input-checkbox {
                    position: relative;
                    top: auto;
                    right: auto;
                    -webkit-transform: translateY(-25%);
                    transform: translateY(-25%);
                    margin-right: 10px;
                }
            }

            .shipping_address {
                //padding-bottom: 10px;
            }
        }

        /*
        .woocommerce-additional-fields {
            margin-top: 40px;
            background: #fff;
            padding: 30px;

            label {
                font-family: $heading_font;
                text-transform: uppercase;
                letter-spacing: 1;
                font-weight: 600;
                font-size: 20px;
                margin-bottom: 15px;
            }

            textarea#order_comments {
                //border: 30px solid #fff;
                height: auto;

            }
        }
        */

        h3#order_review_heading {
            margin-bottom: 0;
            padding: 30px;
            background: #fff;
        }

        .shop_table {
            border: none;
            border-radius: 0;

            th, tr, td,
            thead tr th,
            tbody tr td {
                border: none;
                border-radius: 0;
                padding: 30px;
            }
        }

        .woocommerce-checkout-review-order-table {
            margin-bottom: 50px;

            thead {
                tr {
                    th {
                        background: #fff;
                        font-weight: 400;
                        text-transform: uppercase;

                        &:hover {
                            background: #fff;
                        }
                    }
                }
            }

            tbody {
                tr {

                    &.cart_item {

                        &:nth-child(odd) {

                            td {
                                background: #eee;
                                width: 65%;

                                &:hover {
                                    background: #eee;
                                }
                            }
                        }

                        &:nth-child(even) {

                            td {
                                background: #fff;
                                width: 65%;

                                &:hover {
                                    background: #fff;
                                }
                            }
                        }
                    }
                }
            }

            tfoot {

                tr {

                    &:first-child {

                        th, td {
                            border-top: 2px solid #fff;
                        }
                    }

                    &.order-total {

                    }

                    th {
                        background: #fff;
                        border: none;
                        font-weight: 400;
                        width: 65%;
                    }

                    td {
                        background: #eee;
                        border: none;
                        font-weight: 300;

                        ul#shipping_method .amount {
                            font-weight: 300;
                        }
                    }
                }
            }
        }

        .woocommerce-checkout-payment,
        #payment {
            border-radius: 0;
            background: none;
            border: none;
            padding: 0;
            margin-top: 20px;

            .payment-methods-title {
                margin-bottom: 0;
                background: #fff;
                padding: 30px 30px 0 30px;
            }

            ul.payment_methods {
                background: #fff;
                margin-bottom: 30px;
                border: none;
                padding: 30px;
            }

            .place-order {
                margin-top: 30px;
                padding: 0;
                //background: #fff;

                button.button {
                    margin-top: 30px;
                    display: block;
                    width: 100%;
                    padding: 25px 30px;
                    font-size: 26px;
                }
            }

            .woocommerce-terms-and-conditions-wrapper {
                background: #fff;
                padding: 30px 30px 30px 30px;
            }

            .privacy {
                background: #fff;
                padding: 0 30px 30px 30px;
                display: block;
                width: 100%;
            }


        }

        .age_declaration {
            background: #fff;
            padding: 30px;
            margin-bottom: 30px;
        }

        .hfpsp_checkout-thank-you {

            .hfpsp_checkout-note-banner {

                .button-next-step {
                    background: $main_color;
                    color: #fff;
                    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
                    padding: 15px 30px;
                    font-size: 20px;

                    &:hover {
                        background: lighten( $main_color, 5% );
                        color: #000;
                    }
                }
            }
        }

        #newsletter_consent_radio_field {
            background: #fff;
            padding: 30px;
            margin-bottom: 30px;

            label.radio::after {
                content: "\A";
                white-space: pre;
            }
        }
    }

    /*
    // UI Datepicker
    .ui-datepicker {

        .ui-datepicker-header {
            background: #ccc;
            border: none;
            border-radius: 0;
        }

        .ui-datepicker-title {

            select.ui-datepicker-month,
            select.ui-datepicker-year {
                display: inline-block;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding: 10px 15px 10px 10px;
                background-image: url(assets/images/dropdown-arrow-15.png);
                background-repeat: no-repeat;
                background-position: right 10px top 15px;
                border-radius: 0;
                border: none;
                margin: 5px 1%;
                width: 44%;
            }
        }

        .ui-datepicker-next,
        .ui-datepicker-prev {
            top: 10px;

            .ui-icon {
                background-repeat: no-repeat;
                background-position: center center;

                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                margin-left: 0;
                top: 0;
                margin-top: 0;
            }
        }

        .ui-datepicker-prev {

            .ui-icon {
                background-image: url(assets/images/left-arrow-25.png);
            }
        }

        .ui-datepicker-next {

            .ui-icon {
                background-image: url(assets/images/right-arrow-25.png);
            }
        }

        .ui-state-default,
        .ui-widget-content .ui-state-default,
        .ui-widget-header .ui-state-default {
            background: #e6e6e6;
        }

        .ui-state-active,
        .ui-widget-content .ui-state-active,
        .ui-widget-header .ui-state-active {
            background: $main_color;
            color: #000;
            border-color: $main_color;
        }

        .ui-state-highlight,
        .ui-widget-content .ui-state-highlight,
        .ui-widget-header .ui-state-highlight {
            background: lighten( $main_color, 30% );
            color: #444;
            border-color: lighten( $main_color, 30% );
        }

        .ui-datepicker-buttonpane.ui-widget-content button.ui-state-default {
            background: $main_color;
            color: #444;
            border: none;
            padding: 10px 20px;
            font-weight: 400;
            border-radius: 0;

            &:hover {
                background-color: lighten( $main_color, 10% );
                color: #000;
                border: none;
            }
        }
    }
    */

    // Forms
    .woocommerce-form-login,
    .woocommerce-form-coupon,
    .woocommerce-form-register,
    form.login,
    form.checkout_coupon,
    form.register {
        background: #fff;
        border: none;
        border-radius: 0;
        padding: 0;
    }

    .woocommerce-form-login {
        max-width: 600px;

        .form-row {
            display: block;
            margin-bottom: 20px;
        }

        button {
            clear: both;
            display: inline-block;
            float: right;
        }
    }

    // My Account
    &.woocommerce-account {

        .col2-set .col-1 {
            padding: 0;
        }

        h2 {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 26px;
        }

        .woocommerce-MyAccount-navigation,
        .woocommerce-MyAccount-content {

        }

        .woocommerce-MyAccount-navigation {
            margin-bottom: 60px;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                padding-right: 40px;

                li {
                    margin: 0 0 15px 0;
                    padding: 0;

                    &.is-active {

                        a {
                            //background: #eee;

                            &:link, &:visited {
                                color: #000;
                                font-weight: 600;
                                //background: #eee;
                            }

                            &:before {
                                color: $main_color;
                            }
                        }
                    }

                    &.woocommerce-MyAccount-navigation-link--dashboard {
                        a {
                            &:before {
                                content: '\f0e4';
                            }
                        }
                    }

                    &.woocommerce-MyAccount-navigation-link--orders {
                        a {
                            &:before {
                                content: '\f291';
                            }
                        }
                    }

                    &.woocommerce-MyAccount-navigation-link--subscriptions {
                        a {
                            &:before {
                                content: '\f01e';
                            }
                        }
                    }

                    &.woocommerce-MyAccount-navigation-link--pet-profiles {
                        a {
                            &:before {
                                content: '\f1b0';
                            }
                        }
                    }

                    &.woocommerce-MyAccount-navigation-link--wc-smart-coupons {
                        a {
                            &:before {
                                content: '\f145';
                            }
                        }
                    }

                    &.woocommerce-MyAccount-navigation-link--edit-address {
                        a {
                            &:before {
                                content: '\f015';
                            }
                        }
                    }

                    &.woocommerce-MyAccount-navigation-link--edit-account {
                        a {
                            &:before {
                                content: '\f007';
                            }
                        }
                    }

                    &.woocommerce-MyAccount-navigation-link--customer-logout {
                        a {
                            &:before {
                                content: '\f08b';
                            }
                        }
                    }

                    a {
                        display: block;
                        padding: 0;
                        background: #fff;
                        text-transform: uppercase;
                        font-weight: 300;
                        font-family: $body_font;
                        font-size: 16px;
                        line-height: 20px;

                        &:link, &:visited {
                            color: #444;
                            //background: #fff;
                        }

                        &:hover, &:active {
                            //color: #000;
                            //background: $main_color;
                        }

                        &:before {
                            display: inline-block;
                            font-style: normal;
                            font-variant: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 1;
                            vertical-align: middle;
                            font-family: FontAwesome;
                            color: #aaa;
                            margin-right: 15px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }

        .woocommerce-MyAccount-content {
            //padding: 30px;
            background: #fff;

            h3 {
                text-transform: uppercase;
                font-size: 26px;
            }

            .addresses .title .edit {
                margin: 13px;
            }

            form {
                button {
                    float: right;
                    margin-top: 20px;
                }
            }
        }

        @media (min-width:1500px) {
            .woocommerce-MyAccount-navigation {
                width: 20%;
            }
            .woocommerce-MyAccount-content {
                width: 80%;
            }
        }

        @media (max-width:1499px) and (min-width:1250px) {
            .woocommerce-MyAccount-navigation {
                width: 25%;
            }
            .woocommerce-MyAccount-content {
                width: 75%;
            }
        }

        @media (max-width:1249px) and (min-width:1000px) {
            .woocommerce-MyAccount-navigation {
                width: 30%;
            }
            .woocommerce-MyAccount-content {
                width: 70%;
            }
        }

        @media (max-width:999px) {
            .woocommerce-MyAccount-navigation {
                width: 100%;
                float: none;
            }
            .woocommerce-MyAccount-content {
                width: 100%;
                float: none;
            }
        }
    }

    ul.products {

        li.product {

            /*
            img {

                &.wp-post-image {
                    display: none;
                }
            }

            .price {
                display: none;
            }
            */
        }
    }

    // Thank You Page
    &.woocommerce-order-received {

        ul.order_details {
            padding: 30px;
            background: #fff;
        }

        table.order_details,
        table.my_account_orders {
            background: #fff;
        }

        .woocommerce-customer-details {
            address {
                background: #fff;
                line-height: 1.5;
                padding: 30px;
            }
        }
    }
}

/**
 * One Page Checkout
 */

 .hfpsp-opc-products-list {

     .hfpsp-opc-category-outer {
        background: #fdeab6;
     }
 }
